#trupet {
    width: 490px;
    border: 20px solid #fff;
    position: relative;
    top: -166px;
    left: 0px;
    justify-items: center;
}
body {

        font-family: cursive;
        color: #ffffff;
        background-color: #8fb1c7;
        text-align: center;
        
}
a {
    color: #ffffff;
    font-size: large;
    font-weight:bold
}

#rectangle {
    border: 10px solid #ffffff;
    margin-left: -10px;
    margin-top: 150px;
    width: 100%;
    height: 0;
}
#picrew {
    width: 200px;
    border: 20px solid #fff;
    position: absolute;
    top: 150px;
    left: 225px;
    rotate: -6deg;
}