img {
    width: 490px;
    border: 10px solid #fff;
    position: relative;
    top: 0px;
    left: 0px;
    justify-items: center;
}
body {

        font-family: cursive;
        color: #ffffff;
        background-color: rgb(156, 124, 167);
        text-align: center;
        
}
a {
    color: #ffffff;
    font-size: large;
    font-weight:bold
}
canvas {
    position: absolute;
}